.control{
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}

.text-field:focused{
    -fx-faint-focus-color: transparent;
    -fx-focus-color:black;
}

.anchor {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}